* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #31708e;
  font-weight: bold;
  font-size: 1rem;
}



body {
  background-color: #f7f9fb;
  scroll-behavior: smooth;
}


.navbar {
  position: fixed;
  width: 100vw;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 90;
}

.icon {
  height: 50px;
  aspect-ratio: 1/1;
  overflow: clip;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items {
  display: flex;
  margin-right: 1em;
  gap: 20px;
  transition: all 1s ease-in-out;
}

.nav-items-2 {
  display: none;
  height: 40px;
  width: 40px;
}

.searchbox {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.125rem;
  margin: 1em 0;
  /* background: #8fc1e3; */
  padding: 5px;
}

.searchBar {
  /* background-color: #5085a5; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-size: inherit;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 10px;
  border-radius: 100px;
}

.magnifying-glass {
  position: absolute;
  right: 12%;
  padding: 10px;
}

.title-line {
  font-size: 3rem;
  text-align: center;
  margin-top: 3em;
  color: #5085a5;
  padding: 0 3rem;
}

.main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 250px;
  aspect-ratio: 4 / 4.8;
  display: grid;
  grid-template-areas:
    " . img img . "
    " . price rating . "
    " . title title . "
    " . desc desc . "
    " . . buy-button .";
  grid-template-rows: 150px 2em 1em 45px;;
  grid-template-columns: 1em 1fr 3fr 1em;
  align-items: center;
  background: white;
  border-radius: 10px;
  overflow: clip;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-card > img {
  margin-top: 5px;
  max-height: 150px;
  max-width: 150px;
  justify-self: center;
  grid-area: img;
  box-shadow: 0 1px 2px -1px grey;
}

.product-card > span {
  font-size: 0.75rem;
  /* font-weight: bold; */
}

.product-card .price {
  grid-area: price;
  font-size: 1rem;
  font-weight: bold;
}

.rating {
  justify-self: end;
  grid-area: rating;
}

.product-card > h1 {
  grid-area: title;
  white-space: nowrap;
  text-align: center;
  justify-self: center;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.product-card > p {
  grid-area: desc;
  display: -webkit-box;
  font-size: 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
  height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: buy-button;
  font-weight: bolder;
  box-shadow: 1px 2px #ccc;
  width: 100px;
  height: 50%;
  justify-self: center;
  background: #31708e;
  color: white;
  border-radius: 10px;
  margin-right: 50px;
}

.nav-items-mobile{
  display: none;
}



.hamburger-container{
  left: 50vw;
  position: absolute;
  width: 100vw;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* transform: translate(-5%,-10%); */
  z-index: 100;
  height: 100vh;
  background-color:#0b4b68ec ;
  transition: all 0.5s ease-in-out;
}



.nav-items-mobile{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-left: 3em;
  margin-bottom: 5em;
}

.nav-items-mobile a{
  font-size: 1.2rem;
  color: white;
}

.nav-items .active{
  border-bottom: #31718ee3 3px solid ;
  border-radius: 2px;
}

.GoBackArrow{
  margin-left: 0.7em;
  height: 30px;
  width: 30px;
}

.login-main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0 auto;
  width: 30vw;
  background-color: rgba(15, 137, 174, 0.985);  
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.login-container h1{
  margin-bottom: 30px;
  color: white;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.login-form input{
  border: none;
  width: 27vw;
  padding-left: 15px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}

.login-form button{
  width: 50%;
  margin-top: 10px;
  border: none;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  /* box-shadow: rgba(17, 12, 46, 0.49) 0px 48px 100px 0px; */
}


.login-container a{
  color: rgb(47, 50, 62);
  margin-top: 10px;
  font-size: 0.8rem;
  text-decoration: underline;
}


.About-us{
  padding-top: 5em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.About-us h1{
  margin: 1em 0 ;
}

.about-names{
  display: flex;
  gap: 4em;
}

.bio{
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 20vw;
  height: 250px;
  background-color: #f4f6f9ec;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}

.bio h3{
  margin-bottom: 0.7em;

}

.bio p{
  margin-bottom: 0.7em;
}

.copyright{
  margin: 1em 0; 
  margin-top: 12rem; 
}

@media only screen and (max-width: 600px) {
  .title-line {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 4em;
    color: #5085a5;
    padding: 0 3rem;
  }
  .nav-items {
    display: none;
  }
  .icon {
    margin-left: 0.5em;
  }

  .nav-items-2 {
    display: flex;
    margin-right: 0.5em;
  }
  .login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0 auto;
  width: 90vw;
  background-color: rgba(15, 137, 174, 0.985);  
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.login-form input{
  border: none;
  width: 85vw;
  padding-left: 15px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}

.About-us{
  padding-top: 5em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.about-names{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.bio{
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 80vw;
  height: 220px;
  background-color: #f4f6f9ec;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  
}

.copyright{
  margin: 1em 0;  
}


}



/* To remove X from input (search) */

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }