* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: #31708e;
    font-weight: bold;
    font-size: 1rem;
}
body {
    background-color: #f7f9fb;
}

.navbar {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.icon {
    height: 50px;
    aspect-ratio: 1/1;
    overflow: clip;
    border-radius: 50%;
    border: 1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nav-items {
    display: flex;
    gap: 20px;
}

.searchbox {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.125rem;
    margin: 1em 0;
    background: #8fc1e3;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.searchBar {
    font-size: inherit;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 100px;
}

.magnifying-glass{
    position: absolute;
    right: 20px;
}

.title-line {
    font-size: 3rem;
    text-align: center;
    margin-top: 0.5em;
    color: #5085a5;
    padding: 0 3rem;
}

.product-card{
}

.main-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-list
{
    display: flex;
    gap: 10px;
}

.product-card{
    display: grid;
    grid-template-areas: 
    " img img"
    " price rating"
    " title title"
    " desc desc";
    grid-template-rows: 150px 1em 1.5em; 
    align-items: center;
    background: white;
    border-radius: 10px;
    overflow: clip;
    box-shadow: 0 2px 8px -1px grey;
    width: 150px;
    aspect-ratio: 3 / 5;
}

.product-card > img{
    width: 150px;
    grid-area: img;
    margin-bottom: 0.25em;
    box-shadow: 0 1px 2px 0 grey;
}

.product-card > span,
.product-card > h1,
.product-card > p
{
    margin: 0 8px;
}

.product-card > span{
    font-size: 0.75rem;
}

.rating{
    justify-self: end;
}

.product-card > h1{
    grid-area: title;
    font-size: 1.5rem;
    margin-top: 0.5em;
}
.product-card > p{
    font-size: 1em;
    margin-top: 8px;
    margin-bottom: 8px;
}
